@font-face{
    font-family:'digital-clock-font';
    src: url('fonts/digital-7/digital-7\ \(mono\).ttf');
}

body {
    background-color: rgb(78, 105, 146);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 30vw;
    margin-right: 30vw;
}

.calculator {
    flex: 1;
    background-color: rgb(61, 48, 48);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border-radius: 5%;
    max-width: 400px;
}

.flex-row {
    display: flex;
    width: 90%;
    flex: auto;
    justify-content: center;
    align-items: center;
    height: 13%;
    flex-wrap: nowrap;
    gap: 2px;
}

.display {
    background-color: mediumaquamarine;
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    font-family:'digital-clock-font';
    padding-right: 5px;
    border-radius: 3%;
}

button {
    flex: 1 1 0;
    border: 1px solid black;
    width: 80px;
    height: 70px;
    border-radius: 10%;
    font-size: 42px;
    font-weight: bold;
    font-family: 'digital-clock-font';
    /* text-shadow: 0 0 2px rgb(255, 249, 249); */
    /* -webkit-text-stroke: 1px rgb(226, 221, 221); */
}

.zero {
    flex: 2 1 0;
}

.number {
    background-color: rgb(13, 114, 13);
    color: rgb(34, 32, 32);
    font-weight: bold;
}

.operator, .equal{
    background-color: goldenrod;
}

.top-blue {
    background-color: rgb(71, 71, 253);
}